body {
  background-color: darken(#fff, 10%);
}

html {
  font-size: $small-font-size;
  font-family: $font-family;
}

strong {
  font-weight: 700;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: $main-spacing / 2;
}

p {
  margin-bottom: $main-spacing / 2;
}
